<h1>ALL CONFIRMER_TBLS </h1>

<% @confs.each do |f| %>
	<div class="theShower text-center">
		<%= link_to f do %>
			<div><%=f.NAME%></div>
		<% end %>
	</div>
<% end %>

<%= link_to 'New', new_confirmer_tbl_path %>