<h1>EDIT PULSE_WIDTH_TBL </h1>

<div class="perfect-forms">

<%= form_for(@pulse_width) do |f| %>

	<div class="form-row">
	  <%= f.label :PULSE_WIDTH %>
	  <%= f.text_field :PULSE_WIDTH, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>

<% end %>
</div>