
<h1> CMD_PART_TYPES_TBL </h1>
		<h5>CMD_PART_TYPE_ID:<%=@cmd_part_types.CMD_PART_TYPE_ID%></h5>
		<h5>CMD_PART_TYPE:<%=@cmd_part_types.CMD_PART_TYPE%></h5>

<%= link_to 'Back', cmd_part_types_tbls_path %>
