<h1>ALL LKUP_TBLS </h1>

<% @lkups.each do |f| %>
	<div class="theShower text-center">
		<%= link_to f do %>
			<div><%=f.LKUP_ENTRY_INDEX%> |<%=f.BYTE_CODE%></div>
		<% end %>
	</div>
<% end %>

<%= link_to 'New', new_lkup_tbl_path %>