
<h1>CREATE BASE_FORMATION_LOGIC_TBL </h1>
<%= form_for(@base_form_logic) do |f| %>

  <%= f.label :BASE_FORMATION_LOGIC %>
  <%= f.text_field :BASE_FORMATION_LOGIC, class: 'form-control' %>

  <%= f.submit 'Update', class: "btn btn-primary" %>
<% end %>
