<h1>EDIT MAP_ID_TBL </h1>

<div class="perfect-forms">

<%= form_for(@map_id) do |f| %>

	<div class="form-row">
	  <%= f.label :MAP_ID %>
	  <%= f.text_field :MAP_ID, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>

<% end %>
</div>