<h1>ALL CMD_TYPES_TBLS </h1>

<% @cmd_types.each do |f| %>
	<div class="theShower text-center">
		<%= link_to f do %>
			<div><%=f.CMD_TYPE%></div>
		<% end %>
	</div>
<% end %>

<%= link_to 'New', new_cmd_types_tbl_path %>