
<h1> CMD_TYPES_TBL </h1>
<h5>CMD_TYPE_ID:<%= @cmd_types.CMD_TYPE_ID %></h5>
<h5>CMD_TYPE:<%= @cmd_types.CMD_TYPE %></h5>
<h5>CMD_TYPES_TBL_CMD_TYPE:<%= @cmd_types.CMD_TYPES_TBL_CMD_TYPE %></h5>

<%= link_to 'Back', cmd_types_tbls_path %>
