
<h1>CREATE LKUP_TBL_TYPE_TBL </h1>
<%= form_for(@lkup_type) do |f| %>

  <%= f.label :LKUP_TBL_TYPE %>
  <%= f.text_field :LKUP_TBL_TYPE, class: 'form-control' %>

  <%= f.submit 'Create', class: "btn btn-primary" %>
<% end %>