<h1>ALL EXPRESSIONS </h1>

<% @exprs.each do |f| %>
	<div class="theShower text-center">
		<%= link_to f do %>
			<div><%=f.EXPR_TYPE%></div>
		<% end %>
	</div>
<% end %>

<%= link_to 'New', new_expression_path %>