<h1>EDIT REL_OP_TBL </h1>

<div class="perfect-forms">

<%= form_for(@rel_op) do |f| %>

	<div class="form-row">
	  <%= f.label :REL_OP %>
	  <%= f.text_field :REL_OP, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>

<% end %>
</div>