<h1>CREATE REL_OP_TBL </h1>
<%= form_for(@rel_op) do |f| %>

  <%= f.label :REL_OP %>
  <%= f.text_field :REL_OP, class: 'form-control' %>

  <%= f.submit 'Create', class: "btn btn-primary" %>
<% end %>