<div class="user_profile"><h1> Profile </h1></div>
<div class="user_profile"><h3>Name:	<%= @user.name%></h3></div>
<div class="user_profile"><h3>Satellite:   <%= @user.satellite_name%></h3></div>
<div class="btn-group btn-group-sm user_profile">

	<%= link_to "Get Started", base_cmd_tbls_path, class: "btn btn-primary user_profile_button" %>
	<%= link_to "Users", users_path, class: "btn btn-warning user_profile_button" %>

</div>
