<h1>ALL LKUP_TBL_INFOS </h1>

<% @lkup_infos.each do |f| %>
	<div class="theShower text-center">
		<%= link_to f do %>
			<div><%=f.LKUP_TBL_NAME%></div>
		<% end %>
	</div>
<% end %>

<%= link_to 'New', new_lkup_tbl_info_path %>
