<h1>EDIT LK_TBL_TYPE_TBL </h1>

<div class="perfect-forms">

<%= form_for(@lk_up_type) do |f| %>

	<div class="form-row">
	  <%= f.label :LK_TBL_TYPE %>
	  <%= f.text_field :LK_TBL_TYPE, class: 'form-control' %>
	</div>

	<div class="form-row">
	  <%= f.submit 'Update', class: "btn btn-primary" %>
	</div>

<% end %>
</div>